{
  "presets": ["react", "es2015", "stage-0"],
  "plugins": [
    "add-module-exports",
    "transform-decorators-legacy",
    "transform-runtime",
    "syntax-class-properties",
    "transform-class-properties"
  ],
  "env": {
    "test": {
      "plugins": [
        ["webpack-loaders", { "config": "webpack/test.config.js", "verbose": false }]
      ]
    }
  }
}
